.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* .feynman div,.feynman h1,.feynman h2,.feynman h3,.feynman p {
  outline: solid;
  outline-width: 1px;
  outline-color: red;
} */

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.logo_place_footer {
  
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  width: 730px;
  z-index: 3;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  width: 388px;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  margin-top: 100px;
}

.description_flex_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns {
  width: 80%;
}

.two-columns_flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief_flex_el {
  width: 175px;
}

.two-columns__brief {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph:not(:first-child) {
  margin-top: 30px;
}

.digits {
  margin-top: 100px;
}

.digits__section-title {
  position: relative;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index: 1;
}

.digits__section-subtitle {
  position: relative;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index: 1;
}

.section-subtitle_marging-top_little {
  margin-top: 20px;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.table__row_flex_row {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  margin-top: 100px;
  height: 790px;
  position: relative;
  background-color: #f2f2f2;;
}

.feynman__section-title {
  position: relative;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.feynman__section-subtitle {
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 370px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.section-title_size_fixed {
  width: 648px;
}

.section-subtitle_margin_top {
  margin-top: 70px;
}

.kaufman {
  background-color: #1f1f1f;
}

.kaufman__triangle {
  background-color: #2f80ed;
}

.section-title_theme_dark {

}

.section-subtitle_theme_dark {

}

.table_theme_dark {

}

.table__row_theme_dark {

}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {

}

.table__text_theme_dark {

}

.footer {
  background-color: #1f1f1f;
}

.footer__columns {

}

.footer__column_content_copyright {

}

.footer__author {

}

.footer__column_content_info {

}

.footer__column_content_social {

}

.footer__column-heading {

}

.footer__column-links {

}

.footer__column-link {

}